*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background-color: #154a68;
    color:white;
    padding: 20px;
    border-radius: 20px;
    font-family:monospace;
}

.card input{
    width: 70%;
    padding: 10px;
    margin-top: 10px;
}
.btn{
    padding: 10px;
}
.btn button{
    padding: 10px 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}

@media(max-width:960px){
    .container{
        width: 100%;
    }
}